In [84]:
import numpy as np
import pandas as pd

In [85]:
df = pd.read_csv('C:/Users/Talha/data_publish/data_all.csv',lineterminator='\n')
df.head()

,person,account,tweet_id,tweet_pp,tweet_raw,label
0,Margaritis Schinas,@MargSchinas,1189630376186204161,une ipe d'arte regards a accompagn <mention> p...,"b""Une équipe d'ARTE Regards a accompagné @Junc...",1
1,Margaritis Schinas,@MargSchinas,1189510536452546565,"c r , v le , newton ... un nouvel n europ gr n...","b'César, Vésale, Newton... Un nouvel élan euro...",1
2,Margaritis Schinas,@MargSchinas,1188425686643544064,today at the exceptional li and magritte <ment...,b'Today at the exceptional “Dali and Magritte”...,1
3,Margaritis Schinas,@MargSchinas,1187041401554526208,"back from strasbourg , this afternoon with <me...","b'Back from Strasbourg, this afternoon with ⁦@...",1
4,Margaritis Schinas,@MargSchinas,1185911684948512768,happy to deliver today the keynote speech to t...,b'Happy to deliver today the keynote speech to...,1

## Making dataset for different experiments
1. Person Split
2. Gender Split
3. Location Split

## 1. Person Split 

I first split the data by adding all tweets from each real – parody account pair to a single split, either train, development or test.

In [97]:
# We save the file as CSV 
# CSV(Comma-separated-value), It is easier to read compared to tsv(Tab-separated-value) and can be opened on Excel.

# Making dataset for testing on persons experiment
dfpersontrain = pd.read_csv('C:/Users/Talha/data_publish/persons/train.txt', sep=",",header = None)
dfpersontrain.columns = ["tweet_id","label"]

dfpersontrain=dfpersontrain.merge(df, on='tweet_id')
dfpersontrain=dfpersontrain.drop(columns='label_x',axis=1)
dfpersontrain=dfpersontrain.rename(columns={'label_y': 'label'})

dfpersontraincsv = dfpersontrain
dfpersontraincsv.to_csv("C:/Users/Talha/data_publish/persons/persontrain.csv", sep=',',index=False)

# Making dataset for testing on persons experiment

dfpersontest = pd.read_csv('C:/Users/Talha/data_publish/persons/test.txt', sep=",",header = None)
dfpersontest.columns = ["tweet_id","label"]

dfpersontest=dfpersontest.merge(df, on='tweet_id')
dfpersontest=dfpersontest.drop(columns='label_x',axis=1)
dfpersontest=dfpersontest.rename(columns={'label_y': 'label'})

dfpersontestcsv = dfpersontest
dfpersontestcsv.to_csv("C:/Users/Talha/data_publish/persons/persontest.csv", sep=',',index=False)

# Making dataset for development on persons experiment

dfpersondev = pd.read_csv('C:/Users/Talha/data_publish/persons/dev.txt', sep=",",header = None)
dfpersondev.columns = ["tweet_id","label"]

dfpersondev=dfpersondev.merge(df, on='tweet_id')
dfpersondev=dfpersondev.drop(columns='label_x',axis=1)
dfpersondev=dfpersondev.rename(columns={'label_y': 'label'})

dfpersondevcsv = dfpersondev
dfpersondevcsv.to_csv("C:/Users/Talha/data_publish/persons/persondev.csv", sep=',',index=False)

## 2. Gender Split

I also split the data by the gender into training, development and test, obtaining two versions of the data: 
(i) one with female accounts in train/dev and male in test
(ii) male accounts in train/dev and female in test

In [101]:
# 1 female accounts in train/dev and male in test

# CSV(Comma-separated-value), It is easier to read compared to tsv(Tab-separated-value) and can be opened on Excel.

# Making dataset for training female data on gender experiment
dfgenderfemaletrain = pd.read_csv('C:/Users/Talha/data_publish/gender/test_on_male/female_train.txt', sep=",",header = None)
dfgenderfemaletrain.columns = ["tweet_id","label"]

dfgenderfemaletrain=dfgenderfemaletrain.merge(df, on='tweet_id')
dfgenderfemaletrain=dfgenderfemaletrain.drop(columns='label_x',axis=1)
dfgenderfemaletrain=dfgenderfemaletrain.rename(columns={'label_y': 'label'})

dfgenderfemaletraincsv = dfgenderfemaletrain
dfgenderfemaletraincsv.to_csv("C:/Users/Talha/data_publish/gender/test_on_male/femaletrain.csv", sep=',',index=False)

# Making dataset for development female data on gender experiment

dfgenderfemaledev = pd.read_csv('C:/Users/Talha/data_publish/gender/test_on_male/female_dev.txt', sep=",",header = None)
dfgenderfemaledev.columns = ["tweet_id","label"]

dfgenderfemaledev=dfgenderfemaledev.merge(df, on='tweet_id')
dfgenderfemaledev=dfgenderfemaledev.drop(columns='label_x',axis=1)
dfgenderfemaledev=dfgenderfemaledev.rename(columns={'label_y': 'label'})

dfgenderfemaledevcsv = dfgenderfemaledev
dfgenderfemaledevcsv.to_csv("C:/Users/Talha/data_publish/gender/test_on_male/femaledev.csv", sep=',',index=False)

# Making dataset for testing male data on gender experiment

dfgendermaletest = pd.read_csv('C:/Users/Talha/data_publish/gender/test_on_male/male_test.txt', sep=",",header = None)
dfgendermaletest.columns = ["tweet_id","label"]

dfgendermaletest=dfgendermaletest.merge(df, on='tweet_id')
dfgendermaletest=dfgendermaletest.drop(columns='label_x',axis=1)
dfgendermaletest=dfgendermaletest.rename(columns={'label_y': 'label'})

dfgendermaletestcsv = dfgendermaletest
dfgendermaletestcsv.to_csv("C:/Users/Talha/data_publish/gender/test_on_male/maletest.csv", sep=',',index=False)

# 2 male accounts in train/dev and female in test 

# CSV(Comma-separated-value), It is easier to read compared to tsv(Tab-separated-value) and can be opened on Excel.

# Making dataset for training male data on gender experiment
dfgendermaletrain = pd.read_csv('C:/Users/Talha/data_publish/gender/test_on_female/male_train.txt', sep=",",header = None)
dfgendermaletrain.columns = ["tweet_id","label"]

dfgendermaletrain=dfgendermaletrain.merge(df, on='tweet_id')
dfgendermaletrain=dfgendermaletrain.drop(columns='label_x',axis=1)
dfgendermaletrain=dfgendermaletrain.rename(columns={'label_y': 'label'})

dfgendermaletraincsv = dfgendermaletrain
dfgendermaletraincsv.to_csv("C:/Users/Talha/data_publish/gender/test_on_female/maletrain.csv", sep=',',index=False)

# Making dataset for development male data on gender experiment

dfgendermaledev = pd.read_csv('C:/Users/Talha/data_publish/gender/test_on_female/male_dev.txt', sep=",",header = None)
dfgendermaledev.columns = ["tweet_id","label"]

dfgendermaledev=dfgendermaledev.merge(df, on='tweet_id')
dfgendermaledev=dfgendermaledev.drop(columns='label_x',axis=1)
dfgendermaledev=dfgendermaledev.rename(columns={'label_y': 'label'})

dfgendermaledevcsv = dfgendermaledev
dfgendermaledevcsv.to_csv("C:/Users/Talha/data_publish/gender/test_on_female/maledev.csv", sep=',',index=False)

# Making dataset for testing female data on gender experiment

dfgenderfemaletest = pd.read_csv('C:/Users/Talha/data_publish/gender/test_on_female/female_test.txt', sep=",",header = None)
dfgenderfemaletest.columns = ["tweet_id","label"]

dfgenderfemaletest=dfgenderfemaletest.merge(df, on='tweet_id')
dfgenderfemaletest=dfgenderfemaletest.drop(columns='label_x',axis=1)
dfgenderfemaletest=dfgenderfemaletest.rename(columns={'label_y': 'label'})

dfgenderfemaletestcsv = dfgenderfemaletest
dfgenderfemaletestcsv.to_csv("C:/Users/Talha/data_publish/gender/test_on_female/femaletest.csv", sep=',',index=False)

## 3. Location Split

I split the data based on the location of the politicians. I group the accounts in three groups of locations: US, UK and
the rest of the world (RoW). I obtain three different splits, where each group makes up the test set and the other two groups make up the train and development set.

(i) one with us,uk location accounts in train/dev and ROW in test
(ii) second with ROW,UK location accounts in train/dev and US in test
(iii) third ROW,US location accounts in train/dev and UK in test

In [104]:
# 1 US,UK location accounts in train/dev and ROW in test

# CSV(Comma-separated-value), It is easier to read compared to tsv(Tab-separated-value) and can be opened on Excel.

# Making dataset for training US,UK location data on location experiment
dflocationUKUStrain = pd.read_csv('C:/Users/Talha/data_publish/location/test_on_intl/us_uk_train.txt', 
                                  sep=",",header = None)
dflocationUKUStrain.columns = ["tweet_id","label"]

dflocationUKUStrain=dflocationUKUStrain.merge(df, on='tweet_id')
dflocationUKUStrain=dflocationUKUStrain.drop(columns='label_x',axis=1)
dflocationUKUStrain=dflocationUKUStrain.rename(columns={'label_y': 'label'})

dflocationUKUStraincsv = dflocationUKUStrain
dflocationUKUStraincsv.to_csv("C:/Users/Talha/data_publish/location/test_on_intl/usuktrain.csv", sep=',',index=False)

# Making dataset for development US,UK location data on location experiment

dflocationUKUSdev = pd.read_csv('C:/Users/Talha/data_publish/location/test_on_intl/us_uk_dev.txt', sep=",",header = None)
dflocationUKUSdev.columns = ["tweet_id","label"]

dflocationUKUSdev=dflocationUKUSdev.merge(df, on='tweet_id')
dflocationUKUSdev=dflocationUKUSdev.drop(columns='label_x',axis=1)
dflocationUKUSdev=dflocationUKUSdev.rename(columns={'label_y': 'label'})

dflocationUKUSdevcsv = dflocationUKUSdev
dflocationUKUSdevcsv.to_csv("C:/Users/Talha/data_publish/location/test_on_intl/usukdev.csv", sep=',',index=False)

# Making dataset for testing ROW data on location experiment

dflocationintltest = pd.read_csv('C:/Users/Talha/data_publish/location/test_on_intl/intl_test.txt', sep=",",header = None)
dflocationintltest.columns = ["tweet_id","label"]

dflocationintltest=dflocationintltest.merge(df, on='tweet_id')
dflocationintltest=dflocationintltest.drop(columns='label_x',axis=1)
dflocationintltest=dflocationintltest.rename(columns={'label_y': 'label'})

dflocationintltestcsv = dflocationintltest
dflocationintltestcsv.to_csv("C:/Users/Talha/data_publish/location/test_on_intl/intltest.csv", sep=',',index=False)

# 2 US,ROW location accounts in train/dev and UK in test

# CSV(Comma-separated-value), It is easier to read compared to tsv(Tab-separated-value) and can be opened on Excel.

# Making dataset for training US,UK location data on location experiment
dflocationUSIntltrain = pd.read_csv('C:/Users/Talha/data_publish/location/test_on_uk/us_intl_train.txt', 
                                    sep=",",header = None)
dflocationUSIntltrain.columns = ["tweet_id","label"]

dflocationUSIntltrain=dflocationUSIntltrain.merge(df, on='tweet_id')
dflocationUSIntltrain=dflocationUSIntltrain.drop(columns='label_x',axis=1)
dflocationUSIntltrain=dflocationUSIntltrain.rename(columns={'label_y': 'label'})

dflocationUSIntltraincsv = dflocationUSIntltrain
dflocationUSIntltraincsv.to_csv("C:/Users/Talha/data_publish/location/test_on_uk/usintltrain.csv", sep=',',index=False)

# Making dataset for development US,ROW location data on location experiment

dflocationUSIntldev = pd.read_csv('C:/Users/Talha/data_publish/location/test_on_uk/us_intl_dev.txt', sep=",",header = None)
dflocationUSIntldev.columns = ["tweet_id","label"]

dflocationUSIntldev=dflocationUSIntldev.merge(df, on='tweet_id')
dflocationUSIntldev=dflocationUSIntldev.drop(columns='label_x',axis=1)
dflocationUSIntldev=dflocationUSIntldev.rename(columns={'label_y': 'label'})

dflocationUSIntldevcsv = dflocationUSIntldev
dflocationUSIntldevcsv.to_csv("C:/Users/Talha/data_publish/location/test_on_uk/usintldev.csv", sep=',',index=False)

# Making dataset for testing UK data on location experiment

dflocationUKtest = pd.read_csv('C:/Users/Talha/data_publish/location/test_on_uk/uk_test.txt', sep=",",header = None)
dflocationUKtest.columns = ["tweet_id","label"]

dflocationUKtest=dflocationUKtest.merge(df, on='tweet_id')
dflocationUKtest=dflocationUKtest.drop(columns='label_x',axis=1)
dflocationUKtest=dflocationUKtest.rename(columns={'label_y': 'label'})

dflocationUKtestcsv = dflocationUKtest
dflocationUKtestcsv.to_csv("C:/Users/Talha/data_publish/location/test_on_uk/uktest.csv", sep=',',index=False)

# 3 UK,ROW location accounts in train/dev and US in test

# CSV(Comma-separated-value), It is easier to read compared to tsv(Tab-separated-value) and can be opened on Excel.

# Making dataset for training UK, ROW location data on location experiment
dflocationUKIntltrain = pd.read_csv('C:/Users/Talha/data_publish/location/test_on_us/uk_intl_train.txt', 
                                    sep=",",header = None)
dflocationUKIntltrain.columns = ["tweet_id","label"]

dflocationUKIntltrain=dflocationUKIntltrain.merge(df, on='tweet_id')
dflocationUKIntltrain=dflocationUKIntltrain.drop(columns='label_x',axis=1)
dflocationUKIntltrain=dflocationUKIntltrain.rename(columns={'label_y': 'label'})

dflocationUKIntltraincsv = dflocationUKIntltrain
dflocationUKIntltraincsv.to_csv("C:/Users/Talha/data_publish/location/test_on_us/ukintltrain.csv", sep=',',index=False)

# Making dataset for development UK,ROW location data on location experiment

dflocationUKIntldev = pd.read_csv('C:/Users/Talha/data_publish/location/test_on_us/uk_intl_dev.txt', sep=",",header = None)
dflocationUKIntldev.columns = ["tweet_id","label"]

dflocationUKIntldev=dflocationUKIntldev.merge(df, on='tweet_id')
dflocationUKIntldev=dflocationUKIntldev.drop(columns='label_x',axis=1)
dflocationUKIntldev=dflocationUKIntldev.rename(columns={'label_y': 'label'})

dflocationUKIntldevcsv = dflocationUKIntldev
dflocationUKIntldevcsv.to_csv("C:/Users/Talha/data_publish/location/test_on_us/ukintldev.csv", sep=',',index=False)

# Making dataset for testing US data on location experiment

dflocationUStest = pd.read_csv('C:/Users/Talha/data_publish/location/test_on_us/us_test.txt', sep=",",header = None)
dflocationUStest.columns = ["tweet_id","label"]

dflocationUStest=dflocationUStest.merge(df, on='tweet_id')
dflocationUStest=dflocationUStest.drop(columns='label_x',axis=1)
dflocationUStest=dflocationUStest.rename(columns={'label_y': 'label'})

dflocationUStestcsv = dflocationUStest
dflocationUStestcsv.to_csv("C:/Users/Talha/data_publish/location/test_on_us/ustest.csv", sep=',',index=False)